.col.s12.m6.l4
  .card.sticky-action.hoverable#index
    %a.card-image{:href => "#"}
      .image{:style => "background-image: url('http://sm.ign.com/ign_ru/news/f/fallout-4-/fallout-4-survival-mode-to-enter-beta-on-pc-soon_ktf1.jpg');"}
    .card-content.fade-text
      %span.card-title.activator
        Lorem Ipsum
        %i.material-icons.right more_vert
      %p Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.
    .card-progress
      .current-progress{:style => "width: 64%;"}
    .card-action.fix
      %ul.fade
        %li
          %b 
            1.74 BTC
          = t('project.invested')
        %li
          %b 
            64%
          = t('project.raised')
        %li
          %b 
            78h
          = t('project.remains')
    .card-reveal
      %span.card-title
        Lorem Ipsum
        %i.material-icons.right close
      %p Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.