= render 'section', title: t('.our_choice'), projects: @chosen_projects
= render 'section', title: t('.popular'), projects: @popular_projects
= render 'section', title: t('.recent'), projects: @last_projects
= render 'section', title: t('.successful'), projects: @successful_projects
