/*
 *= require commontator/application
 *= require_tree .
 *= require_self
 */

@import "material_icons";
@import "materialize";

@font-face {
  font-family: "Amaranth";
  font-weight: 400;
  font-style: normal;
  src: url("amaranth.woff2") format("woff2"),
       url("amaranth.woff") format("woff");
}

body.light-theme {
  @import "themes/light";
}

body.dark-theme {
  @import "themes/dark";
}

$border-color: rgba(150, 150, 150, 0.5);

@media #{$medium-and-down} {
  .section-row > .col:nth-child(3) {
    display: none;
  }
}

@media #{$medium-and-up} {
  .brand-logo {
    left: 0 !important;
    transform: none !important;
    margin-left: 13px;    
  }

  #panel .image {
    min-width: 14em;    
  }

  .parallax-container img {
    bottom: -5em !important;
  }
  
  .balance {
    float: right;
  }

  .propose {
    height: 20em;
  }

  .propose-text {
    font-size: 2rem;
    line-height: initial;
    padding: 16px 0;  
  }

  .section-header {
    padding-top: 2em;
  }

  .section-row {
    margin-bottom: 4em !important;
  }

  .propose-content {
    height: 12em;

    & .btn {
      height: 54px;
      line-height: 54px;
    }
  }
}

@media #{$small-and-down} {
  #panel .image {
    min-width: 8em;
  }

  .parallax-container img {
    bottom: -2em !important;
    width: 135% !important;
  }

  .balance {
    width: 100%;
    text-align: center;
  }

  .propose {
    height: 16em;
  }

  .propose-text {
    font-size: 1.2rem;   
    line-height: 1.5rem;
    padding: 12px 0;  
  }

  .propose-content {
    height: 7em;
  }

  .section-header {
    padding-top: 1em;
    padding-bottom: 0.4em;
    height: 5em;

    & .shadow-header {
      display: inline;  
    }
  }

  .section-row {
    margin-bottom: 3em !important;
  }

  .card.horizontal .properties {
    font-size: 12px;
  }

  .col.s12 .card {
    margin: 0 -40px;
    margin-top: 20px;

    & .card-action, & .card-content, & .card-reveal, & .card-upper {
      padding: 20px 40px;
    }
  }

  .modal {
    width: 100%;
    border-radius: 0;
  }
}

#body-wrapper {
  overflow: hidden;
  display: flex;
  min-height: 100vh;
  flex-direction: column;
  transition: 0.1s background-color;  
}

main {
  flex: 1 0 auto;
}

h1, h2, h3, h4, h5, h6 {
  font-weight: 600;
  position: relative;
}

.row.fix {
  margin-bottom: 0;
}

.input-field.fix {
  margin-top: 0;
}

.vend-align {
  display: flex;
  align-items: flex-end;
}

i.material-icons.left {
  margin-right: 14px !important;
}

.shadow {
  margin-top: -3em !important;
  height: 1em;
  z-index: 10;
  box-shadow: 0 4px 3px -3px rgba(0, 0, 0, 0.3);
}

.dark-hover:hover:not(:focus) {
  background-color: rgba(0, 0, 0, 0.1) !important;
}

.disabled {
  pointer-events: auto !important;
}

.full-width {
  width: 100%;
}

.recaptcha {
  display: table;
  margin: 0 auto;
}

input[type=number] {
  -moz-appearance: none;
  -webkit-appearance: none;
  -ms-progress-appearance: none;

  &::-webkit-inner-spin-button, 
  &::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0; 
  }
}

.hoverable:active {
  box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.3), 0 1px 4px 0 rgba(0, 0, 0, 0.3)
}

.shadow-header {
  color: white !important;
  font-weight: 600;  
  text-shadow: 0 1px 1px rgba(0, 0, 0, 0.5);
  z-index: 100;
}

.screen-width {
  position: absolute;
  overflow: hidden;
  width: 100%;
  left: 0;
  margin-top: -2em;

  &.parallax-container {
    height: 16em;
  }

  & .parallax {
    position: static !important;
    pointer-events: none;

    & img {
      width: 100%;
      filter: contrast(0.75);
    }
  }
}

.narrow {
  padding: 0 16px;
}

.super-narrow {
  padding: 0 8px;
}

.default-cursor {
  cursor: default;
}

#sidenav-overlay {
  z-index: 996 !important;
}

.file-path-wrapper {
  display: block !important;
  margin: 0 !important;
}

.more-small {
  margin: 16px 0;
}

.divider {
  background-color: $border-color;
  margin: 0 0 20px 0 !important;
}

.fade {
  opacity: 0.5 !important;
}

.propose-content {
  position: relative;  
}

.character-counter {
  margin-top: -12px;
  @extend .fade;
}

.more {
  font-weight: 500;
  font-size: 16px;
  margin-bottom: 1em;
}

.modal {
  color: #333333;
  top: 15% !important;

  &.qr {
    max-width: 400px;
    max-height: 80%;
  }
}

.image {
  background-position: center;
  background-size: cover;
  width: 100%;
  height: 100%;
}

.card {
  z-index: 100;
  border-radius: 3px;

  & a {
    margin: 0 !important;
  }

  & .card-content {
    padding: 20px 24px;
  }

  & .card-nav {
    margin-bottom: 8px;

    & i {
      line-height: 32px;
      cursor: pointer;
    }
  }

  & .card-title {
    font-size: 20px;

    &.card-link {
    color: inherit;
    display: inline-block !important;
    }
  }

  & .card-progress {
    position: relative;
    height: 4px;
    width: 100%;
    z-index: 10;
    background-color: $border-color;
  }

  & .card-action.fix {
    border-top: none;
    background-color: inherit;
  }

  &#index .image {
    border-radius: 2px 2px 0 0;    
    height: 12em !important;
    width: 100% !important;

    &:active {
      background-color: rgba(255, 255, 255, 0.1);
    }
  }

  &#panel .image {
    border-radius: 2px 0 0 2px;
    height: 100% !important;    
  }

  & .card-content.fade-text > p {
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    height: 4.3em;
    /* autoprefixer: off */
    -webkit-box-orient: vertical;
    box-orient: vertical;
    /* autoprefixer: on */
    -webkit-line-clamp: 3;
    line-clamp: 3;
  }

  & .card-reveal p {
    max-height: 12rem;
    overflow: hidden;
  }

  & ul {
    margin: 0 !important;
  }

  & .author {
    position: absolute;
    bottom: 9rem;
    left: 0;
    width: 100%;
    padding: 0 40px;
  }

  & .chip {
    font-weight: 700;
    background-color: $border-color;
    margin: 0 0 0 5px !important;
  }

  &#project_page {
    overflow: hidden;

    & ul {
      padding-left: 32px;
      margin: 10px 0 !important;
      
      & li {
        list-style-type: initial;
        display: list-item;
      }
    }
  }
}

.sidenav {
  & #side-avatar {
    height: 32px;
    width: 32px;
    margin: 16px 12px 0 12px;
    background-position: center;
    background-size: cover;
  }

  & .name {
    margin-top: 12px !important;
  }

  & .email {
    line-height: 10px !important;
    padding-bottom: 24px !important;
  }

  & #nav-mobile > li {
    display: inline-block;
    height: 100%;

    & .dropdown-trigger {
      min-width: 180px;
    }
  }

  & .user-view i {
    line-height: inherit;
  }

  & #side-search {
    margin-top: -14px;
    height: 48px;
    padding-left: 70px;
    width: calc(100% - 70px);
    border-bottom: none !important;
    box-shadow: none !important;

    & + .label-icon i {
      position: absolute;
      padding-left: 32px;
      margin-top: -44px;
      color: rgba(0, 0, 0, 0.54);
      cursor: text;
    }
  }
}

.navbar-fixed {
  margin-bottom: 20px;

  & nav {
    height: 64px;
    line-height: 64px;
  
    & .brand-logo {
      font-family: 'Amaranth', 'Roboto', sans-serif;
      line-height: 60px;
      font-size: 2.2rem;
      padding-bottom: 4px;
      transition: 0.4s ease color;
    }

    & #avatar {
      height: 28px;
      width: 28px;
      margin: 18px 12px 18px 0;
      background-position: center;
      background-size: cover;
    }
  
    & #search {
      margin-bottom: 0;
      margin-right: 0;
      padding-left: 50px;
      height: 64px;
      width: 130px;

      &, & + label {
        cursor: text !important;
      }
    }

    & .sidenav-trigger {
      margin: 0 8px;
  
      & i {
        line-height: 64px;
        font-size: 32px;
      }
    }

    & .dropdown-trigger {
      min-width: 180px;
    }
  
    & input {
      border-bottom: none !important;
      box-shadow: none !important;
    }
  
    & li a {
      font-weight: 400 !important;
    }

    & a.waves-effect {
      display: block;
    }

    & .label-icon i {
      margin-top: -64px;
      margin-left: 16px;
    }
  }
}

footer {
  z-index: 200;

  & .footer-copyright {
    background-color: rgba(0, 0, 0, 0) !important;
    border-top: 1px solid $border-color;
    height: 64px;
    padding: 0 !important;
    font-weight: 400 !important;

    & .switch, & .language {
      line-height: 64px;
      display: flex; 
    }

    & .switch {
      max-width: 118px;
      height: 64px;

      #theme {
        margin: 0 !important;
      }

      & #sun {
        float: left;
      }
      
      & #moon {
        float: right;
      }

      & label {
        display: inline-flex;
      }
    }

    & a.dropdown-trigger {
      padding: 0 15px;

      & i {
        line-height: inherit;
      }
    }

    & #language-dropdown {
      overflow: hidden;
      margin-bottom: -2px;
    }
  }

  & ul.two-column {
    -webkit-column-count: 2;
    -moz-column-count: 2;
    -o-column-count: 2;
    column-count: 2;
    list-style-position: inside;
  }
}

.dropdown-trigger:not(.select-dropdown) + .dropdown-content {
  & li {
    height: 64px;
    
    & a {
      font-size: 14px;
      padding-top: 22px;
      height: 100%;
    }
  }
}

.select-wrapper ul {
  z-index: 996;
}