/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

@import "material_icons";
@import "materialize";

@font-face {
  font-family: "Amaranth";
  font-weight: 400;
  font-style: normal;
  src: url("amaranth.woff2") format("woff2"),
       url("amaranth.woff") format("woff");
}

body.light-theme {
  @import "themes/light";
}

body.dark-theme {
  @import "themes/dark";
}

$border-color: rgba(150, 150, 150, 0.4);

@media #{$medium-and-down} {
  #section-row > .col:nth-last-child(-n+1) {
    display: none;
  }
}

@media #{$medium-and-up} {
  .brand-logo {
    left: 0 !important;
    transform: none !important;
  }

  #panel .image {
    min-width: 14em;    
  }

  .slogan {
    height: 115%;

    p {
      font-size: 2.5rem;    
    }
  }

  .parallax-container {
    height: 360px;
  
    & img {
      bottom: -50px !important;
    }
  }
}

@media #{$small-and-down} {
  #panel .image {
    min-width: 8em;
  }

  .slogan {
    height: 115%;

    p {
      font-size: 1.2rem;    
    }
  }

  .parallax-container {
    height: 230px;

    & img {
      bottom: -30px !important;
    }
  }

  #content {
    margin-top: 170px !important;
  }
}

#body-wrapper {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
  transition: 0.1s background-color;  
}

main {
  flex: 1 0 auto;
}

h1, h2, h3, h4, h5, h6 {
  font-weight: 500;
}

.row.fix {
  margin-bottom: 0;
}

.input-field.fix {
  margin-top: 0;
}

i.material-icons.left {
  margin-right: 14px !important;
}

.dark-hover:hover:not(:focus) {
  background-color: rgba(0, 0, 0, 0.1) !important;
}

.disabled {
  pointer-events: auto !important;
}

.full-width {
  width: 100%;
}

.recaptcha {
  display: table;
  margin: 0 auto;
}

input[type=number] {
  -moz-appearance: none;
  -webkit-appearance: none;
  -ms-progress-appearance: none;

  &::-webkit-inner-spin-button, 
  &::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0; 
  }
}

.hoverable:active {
  box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.3), 0 1px 4px 0 rgba(0, 0, 0, 0.3)
}

.slogan {
  position: relative;

  & p {
    font-family: 'Roboto Mono', 'monospace';
    color: white;
    text-shadow: 0 1px 1px rgba(0, 0, 0, 0.5);
  }
}

.parallax-container {
  position: absolute;
  width: 100%;
  top: 0;
  left: 0;
  
  & .parallax {
    position: static !important;
    pointer-events: none;

    & img {
      width: 100%;
    }
  }
}

#content {
  margin-top: 300px;
}

.narrow {
  padding: 0 16px;
}

.super-narrow {
  padding: 0 10px;
}

#sidenav-overlay {
  z-index: 996 !important;
}

.divider {
  background-color: $border-color;
  margin: 0 0 20px 0 !important;
}

.fade {
  opacity: 0.5 !important;
}

.card {
  & a {
    margin: 0 !important;
  }

  & .image {
    background-position: center;
    background-size: cover;
  }

  & .card-title {
    font-size: 22px;
  }

  & .card-progress {
    position: relative;
    height: 4px;
    width: 100%;
    z-index: 10;
    background-color: $border-color;
  }

  & .card-action.fix {
    border-top: none;
  }

  &#index .image {
    border-radius: 2px 2px 0 0;    
    height: 12em !important;
    width: 100% !important;
  }

  &#panel .image {
    border-radius: 2px 0 0 2px;
    height: 100% !important;    
  }

  & .card-content.fade-text > p {
    position: relative;
    overflow: hidden;
    height: 4.4rem;

    &::after {
      content: "";
      text-align: right;
      position: absolute;
      bottom: 0;
      right: 0;
      width: 70%;
      height: 1.4rem;
    }
  }

  & .card-reveal p {
    max-height: 12rem;
    overflow: hidden;
  }

  & ul {
    margin: 0 !important;
  }

  & .author {
    position: absolute;
    bottom: 8rem;
    left: 0;
    width: 100%;
    padding: 0 28px;
  }

  & .chip {
    background-color: $border-color;
  }

  &#project_page {
    & ul {
      padding-left: 32px;
      margin: 10px 0 !important;
      
      & li {
        list-style-type: initial;
        display: list-item;
      }
    }
  }
}

.navbar-fixed {
  margin-bottom: 10px;

  & nav {
    height: 64px;
    line-height: 64px;
  
    & .brand-logo {
      font-family: 'Amaranth', 'Roboto', sans-serif;
      line-height: 60px;
      font-size: 2.2rem;
      padding-bottom: 4px;
    }

    & #avatar {
      height: 28px;
      width: 28px;
      margin: 18px 12px 18px 0;
      background-position: center;
      background-size: cover;
    }

    & #side-avatar {
      height: 32px;
      width: 32px;
      margin: 16px 12px 0 12px;
      background-position: center;
      background-size: cover;
    }
  
    & #search {
      margin-bottom: 0;
      margin-right: 0;
      padding-left: 50px;
      height: 64px;
      width: 130px;
    }
  
    & #side-search {
      height: 48px;
      padding-left: 70px;
      width: calc(100% - 70px);
  
      & + .label-icon {
        padding-left: 19px;
        margin-top: -16px;
      }
    }
  
    & input {
      border-bottom: none !important;
      box-shadow: none !important;
    }
  
    & .side-nav li a {
      font-weight: 400 !important;
    }

    & #nav-mobile > li {
      display: inline-block;
      height: 100%;

      & .dropdown-button {
        min-width: 180px;
      }
    }

    & a.waves-effect {
      display: block;
    }

    & .label-icon {
      margin-top: -12px;
    }

    & .button-collapse {
      margin: 0 8px;

      & i {
        line-height: 64px;
        font-size: 32px;
      }
    }
  }
}

footer {
  margin-top: 30px;

  & .footer-copyright {
    background-color: rgba(0, 0, 0, 0) !important;
    border-top: 1px solid $border-color;
    height: 64px;
    padding: 0 !important;
    font-weight: 400 !important;

    & .switch, & .language {
      line-height: 64px;        
    }

    & .switch {
      max-width: 118px;

      #theme {
        margin: 0 !important;
      }
      
      & i {
        line-height: inherit;
        cursor: default;
      }

      & #sun {
        float: left;
      }
      
      & #moon {
        float: right;
      }
    }

    & a.dropdown-button {
      padding: 0 15px;

      & i {
        line-height: inherit;
      }
    }

    & #language-dropdown {
      margin-top: -1px;
    }
  }

  & ul.two-column {
    -webkit-column-count: 2;
    -moz-column-count: 2;
    -o-column-count: 2;
    column-count: 2;
    list-style-position: inside;
  }
}

.dropdown-button + .dropdown-content {
  & li {
    height: 64px;
    
    & a {
      font-size: 14px;
      padding-top: 22px;
      height: 100%;
    }
  }
}

.select-wrapper ul {
  z-index: 996;
}