/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

@import url('https://fonts.googleapis.com/css?family=Amaranth');
@import "material_icons";
@import "materialize";

body.light-theme {
  @import "themes/light";
}

body.dark-theme {
  @import "themes/dark";
}

$border-color: rgba(150, 150, 150, 0.4);

@media #{$medium-and-up} {
  .brand-logo {
    left: 0 !important;
    transform: none !important;
  }
}

body {
  display: flex;
  min-height: 100vh;
  flex-direction: column;

  & #body-wrapper {
    transition: 0.1s background-color;  
  }
}

main {
  flex: 1 0 auto;
}

nav {
  & .brand-logo {
    line-height: 58px;
    padding-bottom: 6px;
    font-family: 'Amaranth', sans-serif;
  }

  & #search {
    margin-bottom: 0;
    margin-right: 0;
    padding-left: 50px;
    height: 64px;
    width: 130px;
  }

  & #side-search {
    height: 56px;
    padding-left: 70px;
    width: calc(100% - 70px);

    & + .label-icon {
      padding-left: 19px;
    }
  }

  & input {
    border-bottom: none !important;
    box-shadow: none !important;
  }

  & .side-nav li a {
    font-weight: 400 !important;
  }
}

h1, h2, h3, h4, h5, h6 {
  font-weight: 500;
}

.row.fix {
  margin-bottom: 0;
}

i.material-icons.left {
  margin-right: 14px !important;
}

.dark-hover:hover:not(:focus) {
  background-color: rgba(0, 0, 0, 0.1) !important;
}

.full-width {
  width: 100%;
}

input[type=number] {
  -moz-appearance: none;
  -webkit-appearance: none;
  -ms-progress-appearance: none;

  &::-webkit-inner-spin-button, 
  &::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0; 
  }
}

.hoverable:active {
  box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.3), 0 1px 4px 0 rgba(0, 0, 0, 0.3)
}

.bottom {
  vertical-align: bottom;
}

#sidenav-overlay {
  z-index: 996 !important;
}

.divider {
  background-color: $border-color;
  margin: 0 0 20px 0 !important;
}

.fade {
  opacity: 0.5 !important;
}

.card {
  & a {
    margin: 0 !important;
  }

  & .image {
    background-position: center;
    background-size: cover;
  }

  & .card-title {
    font-size: 22px;
  }

  & .card-progress {
    height: 4px;
    width: 100%;
    background-color: $border-color;
  }

  & .card-action.fix {
    border-top: none;
  }

  &#index .image {
    border-radius: 2px 2px 0 0;    
    height: 12em !important;
    width: 100% !important;
  }

  &#panel .image {
    border-radius: 2px 0 0 2px;
    height: 100% !important;

    &.hide-on-med-and-up {
      min-width: 8em;    
    }

    &.hide-on-small-and-down {
      min-width: 14em;    
    }
  }

  & .card-content > p {
    position: relative;
    overflow: hidden;
    height: 4.4rem;

    &::after {
      content: "";
      text-align: right;
      position: absolute;
      bottom: 0;
      right: 0;
      width: 70%;
      height: 1.4rem;
    }
  }

  & ul {
    margin: 0 !important;
  }
}

.navbar-fixed {
  margin-bottom: 10px;
  
  & nav {
    & #nav-mobile > li {
      display: inline-block;
      height: 100%;

      & .dropdown-button {
        min-width: 180px;
      }
    }
    
    & a.waves-effect {
      display: block;
    }

    & .label-icon {
      margin-top: -12px;
    }    
  }
}

footer {
  & .footer-copyright {
    background-color: rgba(0, 0, 0, 0) !important;
    border-top: 1px solid $border-color;
    height: 64px;
    padding: 0 !important;
    font-weight: 400 !important;

    & .switch, & .language {
      line-height: 64px;        
    }

    & .switch {
      max-width: 118px;

      #theme {
        margin: 0 !important;
      }
      
      & i {
        line-height: inherit;
        cursor: default;
      }

      & #sun {
        float: left;
      }
      
      & #moon {
        float: right;
      }
    }

    & a.dropdown-button {
      padding: 0 15px;

      & i {
        line-height: inherit;
      }
    }

    & #language-dropdown {
      margin-top: -1px;
    }
  }
}

.dropdown-content {
  & li {
    height: 64px;
    
    & a {
      font-size: 14px;
      padding-top: 22px;
      height: 100%;
    }
  }
}