// Place all the styles related to the projects controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

#title {
  margin-bottom: 2px;
}

#cover {
  height: 650px;
  -webkit-mask-image: -webkit-linear-gradient(rgba(0,0,0,1) 40%, rgba(0,0,0,0));

  & > .image {
    filter: blur(20px);
    opacity: 0.75;
    transform: scale(1.04);
  }
}

.balance {
  font-weight: bold;
}

#status {
  margin-bottom: 22px;
  font-size: 20px;
  font-weight: 500;
}

.reward-form {
  min-height: 17em;

  & i.add-reward {
    font-size: 4rem;
  }

  & .delete-reward {
    position: absolute;
    top: 0;
    right: 0;
    padding: 10px;
    z-index: 100;

    & a {
      padding: 0 4px;

      & i {
        padding: 4px 0;
      }
    }
  }
}

.comment_form_field{
  margin: 8px 0 4px 0 !important;
  
  & textarea {
    margin-bottom: 2px !important;  
  }
}

.comment_avatar {
  height: 64px;
  width: 64px;
  margin-right: 16px;
}

.comment_author {
  padding-bottom: 4px;

  & .comment_commontator {
    font-weight: 300;
    font-size: 22px;
  }
}

.comment_timestamp {
  padding-top: 4px;
  font-size: 14px;
}

.card {
  & i#edit {
    font-size: 24px !important;
  }

  & .card-upper {
    position: relative;
    height: 3.6rem;
    padding: 24px;
    
    & span {
      line-height: 2.6rem;
    }
  }
}

.modal {
  & p {
    margin: 0 !important;
  }

  & .modal-footer {
    padding: 4px 20px !important;
  }
}