// Place all the styles related to the projects controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

#title {
  margin-bottom: 2px;
}

#cover {
  height: 650px;
  -webkit-mask-image: -webkit-linear-gradient(rgba(0,0,0,1) 40%, rgba(0,0,0,0));

  & > .image {
    filter: blur(20px);
    opacity: 0.75;
    transform: scale(1.04);
  }
}

#status {
  margin-bottom: 22px;
  font-size: 18px;
  font-weight: 500;
}

.comment_form_field, .comment_form_field textarea {
  margin: 4px 0 2px 0 !important;
}

.comment_avatar {
  height: 64px;
  width: 64px;
}

.card {
  & i#edit {
    font-size: 24px !important;
  }

  & .card-upper {
    position: relative;
    height: 3.6rem;
    padding: 24px;
    
    & span {
      line-height: 2.6rem;
    }
  }
}

.modal {
  & p {
    margin: 0 !important;
  }

  & .modal-footer {
    padding: 4px 20px !important;
  }
}