@import "materialize/components/color-variables"; 
$first-color: color("grey", "darken-3");
$second-color: color("red", "accent-2");
$third-color: color("grey", "darken-2");
$background-color: color("grey", "darken-4");
$text-color:  white;

@mixin placeholder {
  ::-webkit-input-placeholder { @content };
  :-moz-placeholder           { @content };
  ::-moz-placeholder          { @content };
  :-ms-input-placeholder      { @content };
}

@include placeholder {
  color: $text-color;
}

#body-wrapper {
  background-color: $background-color;
}

h1, h2, h3, h4, h5, h6 {
  color: $second-color;
}

a:not(.waves-light) .waves-ripple {
  background-color: $second-color !important;
}

.dropdown-content {
  & li {
    background-color: $first-color;

    &:hover {
      background-color: $third-color
    }
  }
}

input {
  color: $text-color;
}

input:not(.browser-default):focus:not([readonly]) + label,
textarea:not(.browser-default):focus:not([readonly]) + label {
  color: $second-color;
}

input[type=search] {
  color: $text-color;

  &:focus {
    background-color: $text-color;

    & + label i {
      color: $first-color;
    }
  }
}

input[type=checkbox]:checked {
  & + .lever {
    background-color: desaturate(darken($second-color, 20%), 60%);

    &:after {
      background-color: $second-color;    
    }
  }

  & + label:after {
    border: 2px solid $second-color;
    background-color: $second-color;
  }
}

input[type=checkbox]:checked + span:not(.lever) {
  &:before {
    border-right: 2px solid $background-color;
    border-bottom: 2px solid $background-color;
  }

  &:after {
    border: 2px solid $second-color;
    background-color: $second-color;
  }
}

.turbolinks-progress-bar {
  background-color: $second-color;
}

.thread_reply {
  color: $text-color;
}

nav {
  background-color: $first-color;
  
  & a, & .user-view {
    color: $text-color;
  }

  & .label-icon i {
    color: $text-color;
  }

  & .sidenav {
    background-color: $first-color;
    color: $text-color !important;
  
    & i.material-icons {
      color: $text-color !important;
    }
  }

  & .brand-logo:hover {
    color: $second-color;
  }
}

main {
  & .card {
    background-color: $first-color;
    color: $text-color;

    & .card-reveal {
      background-color: $first-color;  
    }

    & .current-progress {
      height: inherit;
      background-color: $second-color;
    }

    & .chip {
      color: $text-color;
    }

    & .comment_timestamp {
      color: $text-color;
    }

    &.reward-form .material-icons {
      color: $second-color;
    }
  }

  & .btn-large, & .btn, & .btn-floating {
    background-color: $second-color;
    color: $background-color; 
    
    & i {
      color: $background-color; 
    }
  }

  & .btn-flat:not(.white-text) {
    color: $second-color !important;
  }

  & input:focus, & textarea:focus {
    border-bottom: 1px solid $second-color !important;
    box-shadow: 0 1px 0 0 $second-color !important;
  }

  & .picker__date-display, & .picker__day--selected {
    background-color: $second-color;
  }

  & .select-wrapper {
    & .caret {
      color: $text-color;
    }

    & ul li {
      & span {
        color: $text-color;
      }

      &.selected span {
        color: $second-color;
        background-color: $third-color;
      }
    }
  }

  & #status {
    color: $text-color;
  }
}

footer {
  background-color: $first-color;

  & p {
    color: darken($text-color, 15%);
  }

  & text {
    color: color("grey", "darken-1");
  }

  & a {
    color: $text-color;
  }

  & #sun {
    color: $third-color;
  }
  
  & #moon {
    color: $text-color;
  }
}