@import "materialize/components/color"; 
$first-color: white;
$second-color: color("red", "accent-2");
$third-color: color("grey", "darken-2");
$background-color: color("grey", "lighten-3");
$text-color:  color("grey", "darken-4");

@mixin placeholder {
  ::-webkit-input-placeholder {@content}
  :-moz-placeholder           {@content}
  ::-moz-placeholder          {@content}
  :-ms-input-placeholder      {@content}  
}

@include placeholder {
  color: $text-color;
}

#body-wrapper {
  background-color: $background-color;
}

h1, h2, h3, h4, h5, h6 {
  color: $second-color;
}

a:not(.waves-light) .waves-ripple {
  background-color: $second-color !important;
}
   
.dropdown-content {    
  & li {
    background-color: $first-color;

    &:hover {
      background-color: $background-color
    }
  }
}

input[type=search] {
  color: $text-color;

  &:focus {
    background-color: rgba(0, 0, 0, 0.1);

    & label i {
      color: $text-color;
    }
  }
}

input[type=checkbox]:checked {
  & + .lever {
    background-color: darken($second-color, 20%);

    &:after {
      background-color: $second-color;    
    }
  }

  & + label:after {
    border: 2px solid $second-color;
    background-color: $second-color;
  }
}

nav {
  background-color: $first-color;
  
  & a, & .user-view {
    color: $text-color;
  }

  & .label-icon i {
    color: $text-color;
  }

  & .side-nav {
    background-color: $first-color;
    color: $text-color !important;    
  
    & i.material-icons {
      color: $text-color !important;
    }
  }
}

main {
  & .card {
    background-color: $first-color;
    color: $text-color;

    & .card-reveal {
      background-color: $first-color;
    }

    & .card-content > p::after {
      background: linear-gradient(to right, rgba(0, 0, 0, 0), $first-color 95%); 
      background: -moz-linear-gradient(to right, rgba(0, 0, 0, 0), $first-color 95%);
      background: -o-linear-gradient(to right, rgba(0, 0, 0, 0), $first-color 95%);    
      background: -webkit-linear-gradient(to right, rgba(0, 0, 0, 0), $first-color 95%);
      background: -ms-linear-gradient(to right, rgba(0, 0, 0, 0), $first-color 95%);
    }

    & .chip {
      color: $text-color;
    }
  }

  & .btn-large, & .btn, & .btn-floating {
    background-color: $second-color;
    color: $first-color;

    & i {
      color: $first-color; 
    }
  }

  & .btn-flat {
    color: $second-color !important;
  }

  & input:focus {
    border-bottom: 1px solid $second-color !important;
    box-shadow: 0 1px 0 0 $second-color !important;
  }

  & .picker__date-display, & .picker__day--selected {
    background-color: $second-color;
  }

  & .select-wrapper {
    & .caret {
      color: $text-color;
    }

    & ul li {
      & span {
        color: $text-color;
      }

      &.selected span {
        color: $second-color;
        background-color: $background-color;
      }
    }
  }

  & #status {
    color: $text-color;
  }
}

footer {
  background-color: $first-color;  

  & p {
    color: $text-color;
  }

  & text {
    color: color("grey", "darken-2");
  }

  & a {
    color: $text-color;
  }

  & #sun {
    color: $text-color;
  }
  
  & #moon {
    color: darken($background-color, 20%);
  }
}